<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>tan.controllers.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>tan.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tan.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMainController</servlet-name>
        <servlet-class>tan.controllers.ViewMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>tan.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>tan.controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductCartController</servlet-name>
        <servlet-class>tan.controllers.AddProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductCartController</servlet-name>
        <servlet-class>tan.controllers.RemoveProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductCartController</servlet-name>
        <servlet-class>tan.controllers.UpdateProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProductCartController</servlet-name>
        <servlet-class>tan.controllers.OrderProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>tan.controllers.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdminController</servlet-name>
        <servlet-class>tan.controllers.ViewAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductController</servlet-name>
        <servlet-class>tan.controllers.RemoveProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>tan.controllers.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUpdateProductController</servlet-name>
        <servlet-class>tan.controllers.ViewUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateProductController</servlet-name>
        <servlet-class>tan.controllers.ViewCreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>tan.controllers.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>tan.controllers.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryOrderAdmin</servlet-name>
        <servlet-class>tan.controllers.ViewHistoryOrderAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryOrderAdminController</servlet-name>
        <servlet-class>tan.controllers.ViewHistoryOrderAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryOrderController</servlet-name>
        <servlet-class>tan.controllers.ViewHistoryOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryCartOrderController</servlet-name>
        <servlet-class>tan.controllers.ViewHistoryCartOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>tan.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMainController</servlet-name>
        <url-pattern>/ViewMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductCartController</servlet-name>
        <url-pattern>/AddProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductCartController</servlet-name>
        <url-pattern>/RemoveProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductCartController</servlet-name>
        <url-pattern>/UpdateProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProductCartController</servlet-name>
        <url-pattern>/OrderProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/ViewProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdminController</servlet-name>
        <url-pattern>/ViewAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductController</servlet-name>
        <url-pattern>/RemoveProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUpdateProductController</servlet-name>
        <url-pattern>/ViewUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateProductController</servlet-name>
        <url-pattern>/ViewCreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryOrderAdmin</servlet-name>
        <url-pattern>/ViewHistoryOrderAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryOrderAdminController</servlet-name>
        <url-pattern>/ViewHistoryOrderAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryOrderController</servlet-name>
        <url-pattern>/ViewHistoryOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryCartOrderController</servlet-name>
        <url-pattern>/ViewHistoryCartOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>
            Resource reference to a factory for java.sql.Connection
            instances that may be used for talking to a particular
            database that is configured in the server.xml file.
        </description>
        <res-ref-name>
            DBCon
        </res-ref-name>
        <res-type>
            javax.sql.DataSource
        </res-type>
        <res-auth>
            Container
        </res-auth>
    </resource-ref>
</web-app>
